<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
     {{>header}}
    <h1> King has Seengh </h1>
    <h2> my name is khan</h2>
    <h3> hello to kaise h aap sabhi</h3>
    <h4> Jai Hind Jai Baharat </h4>
      <script>
        document.getElementById('hello').style.color = 'purple';
     </script>
</body>
</html>